<%= link_to "Start Your Nation", new_nation_path, class: 'btn btn-default' %>
<br>
<br>
<% if current_user.nations.any? %>
  <div class="continue">
    <h3>Continue Playing</h3>
    <% @nations.each do |nation| %>
    <p><%= link_to nation.name, nation_path(nation) %></p>
    <% end %>
    <%= will_paginate @nations %>
  </div>
<% end %>
