<% if @game_status == "win" %>
  <h1>State survived! Congrats on smoothly running your nation.</h1>
<% elsif @game_status == "lose" %>
  <h1>You are worse than Trump. Your government failed. Sad.</h1>
<% end %>
