/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #nations .well {
   width: 50%;
 }

.background-generic {
  background-image: url("https://static01.nyt.com/newsgraphics/2016/04/15/megaregions/2ea057878d966de72746617a8b53a332eafbea29/megas-Artboard_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Forest {
  background-image: url("http://wallpapercave.com/wp/8xghT8f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Plains {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f3/White_Plains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Mountains {
  background-image: url("http://eskipaper.com/images/snow-mountains-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Desert {
  background-image: url("http://i.huffpost.com/gen/1320688/images/o-DESERT-CACTUS-facebook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.stats {
  color: white;
  letter-spacing: 1px;
}

.winstate {
  color: #002087;
  letter-spacing: 1px;
}

.jumbotron, .well {
  background-color: rgba(255, 255, 255, 0.7);
}

.responses {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px white solid;
  height: 260px;
  padding-top: 5px;
}

.action {
  color: #002087;
}

.continue {
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 20px;
  margin-top: 10px;
  padding-top: 10px;
  width: 50%;
}
