/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #nations .well {
   width: 50%;
 }

.background-generic {
  background-image: url("map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Forest {
  background-image: url("forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Plains {
  background-image: url("plains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Mountains {
  background-image: url("mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.Desert {
  background-image: url("desert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
}

.stats {
  color: white;
  letter-spacing: 1px;
}

.winstate {
  color: #002087;
  letter-spacing: 1px;
}

.jumbotron, .well {
  background-color: rgba(255, 255, 255, 0.7);
}

.responses {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px white solid;
  height: 260px;
  padding-top: 5px;
}

.action {
  color: #002087;
}

.continue {
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 20px;
  margin-top: 10px;
  padding-top: 10px;
  width: 50%;
}
